.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  height:100vh;
  margin: 0;
  width: 250px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--color-secondary);
  box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.14), 1px 0 10px 0 rgba(0, 0, 0, 0.12), 2px 0 4px -1px rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: hidden;
  z-index: 500;
}

nav::after{
  content: "";
  width: 200vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.nav i{
  text-align: center;
  width: 1rem !important;
  object-fit: cover;
  display: flex;
  justify-content: center;
  flex-shrink:0;
  font-size: 1.15rem;
}

/* nav list styles */
.nav__list {
  position: relative;
  padding: 0;
  margin: 0px;
  list-style-type: none;
}

/* nav item styles */
.nav__item{
  padding: 10px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color:var(--color-secondary);
  color: black;
  word-wrap: nowrap;
  display: flex;
  align-items: center;
  line-height: 1;
  letter-spacing: .5px;
  
  width: 100%;
  
  user-select: none;
}

.nav__item p{
  align-self: flex-start;
}

.nav__item:not(:last-child) {
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, .075);
}
.nav__item:first-child{
  margin-top: 30px;
  
}

/* nav link styles */
.nav__link {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  
  display: flex;
  align-items: center !important;
  word-wrap: nowrap !important;
}
.nav__item:hover {
  color: var(--color-primary);
  background: var(--color-secondary);
}

/* nav link icon styles */
.nav__link-icon {
  position: relative;
  top: -3px;
  /* !!!use only with material design icons */
  margin-right: 10px;
  color: currentColor;
}

/* close icon styles */
.nav__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 25px;
  cursor: pointer;
  z-index: 100;
  /* close icon elements */
  /* hover effect */
}
.nav__close:before, .nav__close:after {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 4px;
  height: 28px;
  border-radius: 10px;
  content: "";
  transform-origin: center center;
  background-color: var(--color-accent);
}
.nav__close:before {
  position: absolute;
  top: 0;
  left: 18px;
  transform: rotate(-45deg);
}
.nav__close:after {
  position: absolute;
  top: 0;
  right: 18px;
  transform: rotate(45deg);
}
.nav__close:hover:before, .nav__close:hover:after {
  background-color: #4caf50;
}

/* nav open btn styles */
.nav-open-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  width: 35px;
  height: 25px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-neutral);
}

.nav-open-btn *{
 
}
.nav-open-btn.js-hidden {
  transition-property: all;
  transition-duration: 0s;
  transition-timing-function: linear;
  transition-delay: 0s;
  opacity: 0.2;
  visibility: hidden;
}

.nav-open-btn__bar {
  width: 100%;
  height: 5px;
  background-color: var(--color-neutral);
  border-radius: 200px;
}
.nav-open-btn__bar:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.nav-open-btn__bar:nth-child(2) {
  position: absolute;
  top: 10px;
  left: 0;
}
.nav-open-btn__bar:nth-child(3) {
  position: absolute;
  top: 20px;
  left: 0;
}


.nav--offcanvas {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  left: -300px;
  /* opened styles */
}
.nav--offcanvas.js-opened {
  transition-property: left;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.page__content--offcanvas {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  left: 0;
  /* opened styles */
}
.page__content--offcanvas.js-opened {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
  left: 300px;
}

