
table,
table th{
  border: 1px solid;
  border-color: #1B121264;
}

table, td, tr, th{
  user-select: none;
}

table tr th p{
  font-size: .75rem;
  margin: 0;
}

tr.timestamps th{
  border-bottom: 1px solid white;
}

tr.timestamps p{
  font-weight: bold;
  color: white;
}

tr.timestamps th {
  border-left: 1.5px solid yellow !important;
}

tr.timestamps th:first-child{
  border-left: 0 !important;
}

tr.timestamps th:nth-child(2) {
  border-left: 1.5px solid white !important;
}

table {
  border-collapse: collapse;
  background: var(--color-primary);
  background: #001d54;
  outline: 1px solid white;
}

table th{
  font-size: .75rem;
  padding: -1px;
  color: rgba(0, 0, 0, .75);
  color:var(--color-primary);
  color: #1B1212;
  color:var(--color-primary)40;
 color: rgba(101, 104, 211, .85);
 color:yellow;
}

table th:first-child{
  padding: 0 10px;
}

table tfoot{
  /*outline: 1px solid yellow;*/
  box-shadow: 0 -1px 0 0 white;
  /*box-shadow: 0 -1px 0 white, 0 0 0 1px white;*/
  /*border-top: 1px solid white;*/
  color: yellow !important;
  position: relative;
  z-index: 9;
  height:20px;
  display: table-footer-group;
}

tfoot td{
  outline: none;
  height: 5px;
}

tfoot {
  background: #001d54;
  transform: translateY(-1px);
}

tfoot p{
  color: yellow;
  text-align: center;
  font-weight: normal;
  margin:0;
}

table td {
  background: var(attr(data-color));
  color: White;
  font-weight: 700;
  padding: 5px;
  font-size: .75rem;
  white-space: nowrap;
  position: relative;
  border: 1px solid #001d54;
}

table td.scheduled:hover::before {
  content: "\f0a4";
  font-family: "Font Awesome 5 Free";
  color: yellow;
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
 /* background-image: linear-gradient(to right, #001d54 65%, transparent 50%);*/
 
}

table tfoot td.scheduled:hover::before {
  content: "";
  display:none;

}

table caption{
  background: #001d54;
  color: yellow;
  font-weight: bold;
  border-bottom: 1px solid white;
  letter-spacing: .5px;
  padding:2.5px;
  caption-side: top;
  text-align: center;
}


table td:not(tfoot td):hover {
  font-weight: bolder;
  outline: 1px solid yellow;
}


table td.following-unscheduled {
  border-left: 1px solid rgba(255, 255, 255, .5);
}

table td.below-unscheduled {
  border-top: 1px solid rgba(255, 255, 255, .5);
}

table td.unscheduled {
  background: transparent;
  color: rgba(255, 255, 255, .5);
}

th.day{
  border-bottom: 1px solid white;
  text-transform: uppercase;
}

th.day + td{
  border-left: 1.5px solid white;
}


.custom-card {
  width: 200px;
  min-height: max-content;
  background: var(--color-secondary);
  margin:10px auto;
  margin-bottom: 10px;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: var(--color-primary);
  background: var(--color-secondary);
  position: relative;
  
  z-index: 201;
  opacity:1;
  animation-fill-mode: forwards;
  position: absolute !important;
  top: -50px;
  left: calc(50% + 30px) !important;
  transform: translateX(-50%);
}

.custom-card ul li {
  list-style: none;
  text-align: left;
  margin: 0;
  margin-left: 3px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  line-height: 1;
  letter-spacing: .5px;
  
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.075);
}

.custom-card ul li:last-child{
  border-bottom-color: rgba(0,0,0,0);
}

.custom-card ul li:hover{
  border-bottom: 1px solid currentColor;
  background: rgba(0,0,0,.05);
}

.custom-card ul li i{
  text-align: center;
  width: 1rem !important;
  object-fit: cover;
  display: flex;
  justify-content: center;
  flex-shrink:0;
  font-size: 1.15rem;
}

.custom-card ul li p{
  margin:0;
  margin-left: 5px;
  width: 100%;
  padding: 5px;
  
}

.custom-card ul li p:hover{
  /*background: rgba(0, 0, 0, 0.2);*/
}



.custom-card ul {
  padding: 10px;
  
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  margin-top: -11px;
}

/*
.container:hover .custom-card {
  filter: blur(20px);
  transform: scale(0.9);
  opacity: 0.5;
}*/

.custom-card:hover {
  filter: blur(0px);
  opacity: 1;
}

.custom-card .circle {
  margin-bottom: -18px;
  width: 100%;
  height: 100%;
  clip-path: circle(60px at center -10px);
  text-align: center;
  background: var(--color-primary);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.custom-card .circle h2 {
  color: var(--color-secondary);
  font-size: 1rem;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -15px;
  margin: 0;
  letter-spacing: .5px;
}

.custom-card .content {
  padding: 0px;
  page-break-after: 20px;
  text-align: center;
}

.custom-card .close{
  position: absolute;
  right: 3px;
  top:-5px;
  font-size: 1.5rem;
  border: 0;
  color: inherit;
  background: transparent;
  outline: none;
}

.custom-card-overlay{
  position: absolute;
  inset: 0;
  background: var(--color-primary);
  opacity: .05;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top:0;
}